# https://dart.dev/guides/libraries/private-files
# Created by https://www.toptal.com/developers/gitignore/api/flutter,dart,visualstudiocode,androidstudio,intellij+all

# Flutter/Dart/Pub related
# -----------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
# ---------------------
app.*.symbols

# Obfuscation related
# -------------------
app.*.map.json

# Android related
# ---------------
/android/app/debug
/android/app/profile
/android/app/release
android/local.properties
android/key.properties
android/.gradle/
android/.kotlin/
**/*.jks
**/*.keystore

# iOS/macOS related
# -----------------
**/ios/Flutter/.last_build_id
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/GeneratedPluginRegistrant.h
**/ios/Flutter/GeneratedPluginRegistrant.m
**/macos/Flutter/Generated.xcconfig
**/macos/Flutter/flutter_export_environment.sh
**/macos/Flutter/ephemeral/
**/macos/GeneratedPluginRegistrant.swift

# Windows/Linux related
# ---------------------
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugins.cmake
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugins.cmake

# Web related
# -----------
lib/generated_plugin_registrant.dart

# IDE related
# -----------
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Exception: Keep VS Code launch configurations and tasks if they are intended to be shared
! .vscode/launch.json
! .vscode/tasks.json
! .vscode/settings.json

# Miscellaneous
# -------------
*.log
*.swp
*.class
*.pyc
.DS_Store
.history
.svn/
.bak/
*~

# Environment & Local Config
# --------------------------
.env
.env.*
!.env.example
pubspec_overrides.yaml
**/google-services.json
**/GoogleService-Info.plist

# OTP Server specific
# -------------------
otp_server/node_modules/
otp_server/serviceAccountKey.json

# Coverage
# --------
coverage/
**/doc/api/
